{% extends "app/base_site.html" %}

{% block title %} Media Gallery {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3> {{header_text}}<small></small> </h3>
          <br>
        </div>
        <div class="title_right">
<!--          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">-->
<!--            <div class="input-group">-->
<!--              <input type="text" class="form-control" placeholder="Search for...">-->
<!--              <span class="input-group-btn">-->
<!--                  <button class="btn btn-default" type="button">Go!</button>-->
<!--              </span>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">

            <div class="x_content">

              <div class="row">

                  {% if all_products %}
                {% for each_product in all_products %}
                <div class="col-md-55">
                  <div class="thumbnail">
                    <div class="image view view-first">

                      {% for each_image in images %}
                        {% if each_image.album == each_product.image %}
                          {% if each_image.default == True %}
                            <a href="/productview/{{each_product.product_id}}">
                            <img style="  width:100%;height: 100%;object-fit: cover;" src="/media/{{each_image.image}}" alt="image" />
                            </a>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                        <div class="caption">
                          <p >{{each_product.product_name}}</p>
                          <p style="text-decoration:line-through;">{{each_product.price}} PKR</p>

                          {% if each_product.discount_percent != None %}
                          <p>{{each_product.discounted_price}} PKR  <strong style="color:red;">({{each_product.discount_percent}}% OFF)</strong> </p>
                          {% endif  %}
                          {% if each_product.discount_percent == None %}
                          <p> <br></p>
                          {% endif  %}
                        </div>
                  </div>

                </div>
                {% endfor %}

                  {% else %}

                  <h5> Hey there! We are working to populate this category :) </h5>

                  {% endif %}



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
