{% extends "app/base_site.html" %}
{% block title %} Add Products {% endblock title %}


{% block stylesheets %}
  {{ block.super }}
  <!-- Dropzone.js -->
  <link href="/static/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
{% endblock stylesheets %}


{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Update Product - {{product.product_id}}</h3>

          <br>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <br />
              <form id="demo-form2" name="productadd"  data-parsley-validate class="form-horizontal form-label-left" action="{% url 'shop:productupdate' product_id=product.product_id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product_name">Product Name <span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="product_name" name="product_name" required="required" class="form-control col-md-7 col-xs-12" value="{{product.product_name}}">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product_desc">Product Description<span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="product_desc" name="product_desc" required="required" class="form-control col-md-7 col-xs-12" value="{{product.product_desc}}" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Category</label><span class="required"></span>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select name="category" class="form-control">
                        <option selected="selected" >{{product.category}}</option>
                        {% for each_category in categories %}
                      <option>{{each_category}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Brand</label><span class="required"></span>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select name="brand" class="form-control">
                        <option selected="selected">{{product.brand}}</option>
                        {% for each_brand in all_brands %}
                      <option>{{each_brand}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Image Album</label><span class="required"></span>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select name="image_album" class="form-control">
                        <option selected="selected">{{product.image}}</option>
                        {% for each_album in image_album reversed %}
                      <option>{{each_album}}</option>
                      {% endfor %}}
                    </select>
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tags">Tags<span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {% for tag in product.product_tags.values %}
                    <input type="text" id="tags" name="tags" required="required" class="form-control col-md-7 col-xs-12"
                           value="{{tag.name}}">
                           {% empty %}
                           {# None #}
                    {% endfor %}
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="add_tags">Add Tag<span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="add_tags" name="add_tags"  class="form-control col-md-7 col-xs-12"
                           value="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="remove_tags">Remove Tag<span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="remove_tags" name="remove_tags"  class="form-control col-md-7 col-xs-12"
                           value="">
                  </div>
                </div>




                {% for each_variant in variants %}
                </br>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12"><strong>Variant - </strong></label><span class="required"></span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                     <h2>Variant - {{each_variant}}</h2>
                     <a class="btn btn-danger" href="{% url 'shop:removevariant' variant_id=each_variant.id  %}">Remove Variant</a>
                    </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Delivery Time</label><span class="required"></span>
                  <div class="col-md-6 col-sm-6 col-xs-12">

                    <select name="{{each_variant.id}}_delivery_time" class="form-control">
                        <option selected="selected">{{each_variant.delivery_time}}</option>
                        {% for each_value in delivery_time %}
                      <option>{{each_value}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="buy_price">Buy Price<span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" id="buy_price" name="{{each_variant.id}}_buy_price" required="required" class="form-control col-md-7 col-xs-12" value="{{each_variant.buy_price}}" >
                  </div>
                </div>



                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Price<span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" id="price" name="{{each_variant.id}}_price" required="required" class="form-control col-md-7 col-xs-12" value="{{each_variant.price}}" >
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">Apply Discount<span class="required"></span>
                  </label>

                  <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="radio">
                      <label>
                        <input type="radio" checked="checked" value="True" id="optionsRadios1" name="{{each_variant.id}}_apply_discount"> Yes
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" value="False" id="optionsRadios2" name="{{each_variant.id}}_apply_discount"> No
                      </label>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discount_percent">Discount Percentage<span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" id="discount_percent" name="{{each_variant.id}}_discount_percent" required="required" min="0" max="100" class="form-control col-md-7 col-xs-12" value="{{each_variant.discount_percent}}" >
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="discount_price">Discounted Price<span class="required"></span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" id="price" name="{{each_variant.id}}_discount_price" required="required" class="form-control col-md-7 col-xs-12" value="{{each_variant.discounted_price}}" >
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">Select Quantity</label><span class="required"></span>
                  <div class="col-md-6 col-sm-6 col-xs-12">

                    <select name="{{each_variant.id}}_quantity" class="form-control">
                        <option selected="selected"> {{each_variant.num_available}} </option>
                        {% for i in '0123456789'|make_list %}
                      <option>{{ forloop.counter }}</option>
                      {% endfor %}}
                    </select>

                  </div>
                </div>







                <div class="form-group">
                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">Featured<span class="required"></span>
                  </label>

                  <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="radio">
                      <label>
                        <input type="radio"  value="True" id="optionsRadios1" name="{{each_variant.id}}_featured"> Yes
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" checked="checked" value="False" id="optionsRadios2" name="{{each_variant.id}}_featured"> No
                      </label>
                    </div>
                  </div>
                </div>


                {% endfor %}



                <div class="ln_solid"></div>

                <div class="form-group">
                  <div style="margin-top:5px;" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button style="margin-top:5px;" type="submit" class="btn btn-success" >Update</button>
                    <a class="btn btn-success" href="{% url 'shop:addvariant' product_id=product.product_id  %}">Add Variant</a>

                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}


{% block javascripts %}
  {{ block.super }}
  <!-- Dropzone.js -->
  <script src="/static/vendors/dropzone/dist/min/dropzone.min.js"></script>
{% endblock javascripts %}
